//提供scss全局变量

// 左侧菜单宽度
$base-memu-width: 260px;
// 左侧菜单折叠宽度
$base-memu-min-width: 50px;
// 左侧菜单背景色 初始色#001529
$base-memu-background:  #162849;
// 顶部导航高度
$base-nav-height: 50px;
// 设备屏幕的宽度和高度
$screen-width: 2560px;
$screen-height: 1440px;